@import "../../App.scss";

.container {
	margin: 0 auto;
	padding-top: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;

	img {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.psu1, .psu2, .mgmt1, .mgmt2, .data1, .data2  {
		height: 100%;
		border: 3px solid;
		border-radius: 5px;
	}

	.psu1, .psu2 {
		width: calc(13% - 6px);
		border-color: $psu1color;
	}

	.mgmt1 {
		width: calc(24% - 6px);
		border-color: $mgmt1color;
	}

	.mgmt2 {
		width: calc(20% - 6px);
		border-color: $mgmt2color;
	}

	.data1 {
		width: calc(10% - 6px);
		border-color: $data1color;
	}

	.data2 {
		width: calc(10% - 6px);
		border-color: $data2color;
	}
}

