.unit {
	.ReactCollapse--collapse {
		transition: height 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
	}

	button {
		width: 100%;
		padding: 0;
		border: none;
		background: #cdcdcd;
		margin: 0;
		border-radius: 3px;
	}
}
