$psu1color: #7d402e;
$psu2color: #7d402e;
$mgmt1color: #f7941d;
$mgmt2color: #3ab54a;
$data1color: #ee1c25;
$data2color: #0072bb;

.app {
  text-align: center;
}

.header {
  background-color: #282c34;
  color: white;
  padding: 25px;
  font-size: 24px;
}


